header {
    background-color: #d7dcdfb3;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 400%;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 350%;
    text-align: center;
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 250%;
    text-align: center;
    color: #efa913;
}

h4 {
    font-family: 'Righteous', cursive;
    font-size: 175%;
    text-align: center;
}

p {
    font-family: 'Righteous', cursive;
    font-size: 150%;
    text-align: center;
}


.btn {
    background-color: #fbd73597;
    border: 4px solid #f8ad0b;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    font-family: 'Righteous', cursive;
}

.btn:hover {
    background-color: #efa913;
}

.form-control {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 150%;
}

/* .todays-forecast {
    hidden
} */